
workshops/workshopx_wifi/network_examples.zip
workshops/studenten_code/*
assets/Micropython_Cookbook_Code*
assets/pycom_firmware_update_1.16.1.dmg
workshops/workshopx_wifi/network_examples/config/wificonfig_wf.json
workshops/workshopx_wifi/network_examples/pymakr.conf
