
assets/Micropython_Cookbook_Code 2019-11-03.dmg
assets/pycom_firmware_update_1.16.1.dmg
workshops/studenten_code/Regilio_Dekker/regilio_code/adressen.txt
workshops/studenten_code/Regilio_Dekker/regilio_code/lib/hcsr04.py
workshops/studenten_code/Regilio_Dekker/regilio_code/lib/servo90.py
workshops/studenten_code/Regilio_Dekker/regilio_code/lib/ssd1306.py
workshops/studenten_code/Regilio_Dekker/regilio_code/main.py
workshops/studenten_code/Regilio_Dekker/regilio_code/pymakr.conf
workshops/studenten_code/Regilio_Dekker/Smart-World opdracht_voor_correcties.zip
workshops/studenten_code/Regilio_Dekker/SmartWord_Opdracht_imports_correction.zip
workshops/workshopx_wifi/network_examples/pymakr.conf
workshops/workshopyy_ttn/adressen.txt
workshops/workshopyy_ttn/boot.py
workshops/workshopyy_ttn/lib/appConstants.py
workshops/workshopyy_ttn/lib/hcsr04.py
workshops/workshopyy_ttn/lib/LoraConnection.py
workshops/workshopyy_ttn/lib/loraConstants.py
workshops/workshopyy_ttn/lib/mqtt.py
workshops/workshopyy_ttn/lib/servo90.py
workshops/workshopyy_ttn/lib/settings.py
workshops/workshopyy_ttn/lib/ssd1306.py
workshops/workshopyy_ttn/main.py
workshops/workshopyy_ttn/main_org.py
workshops/workshopyy_ttn/notities.txt
workshops/workshopyy_ttn/pymakr.conf
